src/test/resources/v2/I4_Bulk.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v2.0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v2.0">
	<include schemaLocation="NMVS_Composite_Types.xsd"/>
	<element name="I4_Bulk" type="tns:I4_Bulk_Type"/>

	<complexType name="I4_Bulk_Type">
		<complexContent>
			<extension base="tns:Header_Type">
				<sequence>

					<element maxOccurs="1" minOccurs="1" name="Body" type="tns:RequestBulkData_Type"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

</schema>