src/test/munit/metadata/v2/I6_Result.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v2.0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v2.0">
	<include schemaLocation="NMVS_Composite_Types.xsd"/>
	<element name="I6_Result" type="tns:I6_Result_Type"/>

	<complexType name="I6_Result_Type">
	<complexContent>
			<extension base="tns:Header_Type">
				<sequence>
					
			<element maxOccurs="1" minOccurs="1" name="Body" type="tns:I6_ResultTransactionData_Type"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="I6_ResultTransactionData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="RefNMVSTrxId" type="tns:ExternalTransactionID_Type">
				<annotation>
					<documentation>Transaction-Id generated by NMVS when submitting the original request</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>