src/test/munit/metadata/v2/NMVS_Composite_Types.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v2.0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v2.0">
	<include schemaLocation="NMVS_Base_Types.xsd"/>
	<include schemaLocation="NMVS_Catalog_Types.xsd"/>

	<complexType name="ResponseHeaderAuthentificationData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ClientLoginId" type="tns:ClientLoginId_Type">
				<annotation>
					<documentation>Unique LoginId of Member</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="UserId" type="tns:UserId_Type">
				<annotation>
					<documentation>Unique UserId of Member</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="SubUserId" type="tns:S255_Normalized_Type">
				<annotation>
					<documentation>Id of the Sub-User</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ResponseHeaderTransactionData_Type">
		<sequence>
		    <element maxOccurs="1" minOccurs="1" name="Language" type="tns:IsoLanguageCode_Type">
                 <annotation>
                     <documentation>Language Code for Response</documentation>
                 </annotation>
            </element>
			<element maxOccurs="1" minOccurs="1" name="ClientTrxId" type="tns:ExternalTransactionID_Type">
				<annotation>
					<documentation>Transaction-Id of calling system</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="NMVSTrxId" type="tns:NMVSTransactionId_Type">
				<annotation>
					<documentation>Unique NMV-System TransactionID</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Timestamp" type="tns:Timestamp_Type">
				<annotation>
					<documentation>Time of Processing in NMV-System</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ResponseHeaderResultTransactionData_Type">
		<complexContent>
			<extension base="tns:ResponseHeaderTransactionData_Type">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="ReqType" type="tns:CatalogUseCase_Type"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="HeaderResultResponse_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Auth" type="tns:ResponseHeaderAuthentificationData_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Transaction" type="tns:ResponseHeaderResultTransactionData_Type"/>
			<element maxOccurs="10000" minOccurs="0" name="Notification" type="tns:Notification_Type"/>
		</sequence>
	</complexType>

	<complexType name="HeaderResponse_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Auth" type="tns:ResponseHeaderAuthentificationData_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Transaction" type="tns:ResponseHeaderTransactionData_Type"/>
			<element maxOccurs="10000" minOccurs="0" name="Notification" type="tns:Notification_Type"/>
		</sequence>
	</complexType>

	<group name="O1ResponseBody">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Product" type="tns:ResponseProduct_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Pack" type="tns:ResponsePack_Type"/>
		</sequence>
	</group>

	<group name="O5ResponseBody">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Product" type="tns:ResponseProduct_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Pack" type="tns:ResponsePackItem_Type"/>
		</sequence>
	</group>

	<complexType name="ResponseTransactionData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ProductCode" type="tns:ProductIdentifier_Type"/>
			<element maxOccurs="1" minOccurs="1" name="sn" type="tns:SN_Type"/>
			<element maxOccurs="1" minOccurs="1" name="BatchId" type="tns:BATCH_Type"/>
			<element maxOccurs="1" minOccurs="1" name="ExpDate" type="tns:EXP_Type"/>
			<element maxOccurs="1" minOccurs="0" name="NHRN" type="tns:NHRN_Type"/>
			<element maxOccurs="1" minOccurs="1" name="PackState" type="tns:CatalogState_Type"/>
			<element maxOccurs="1" minOccurs="0" name="PackStateReasons" type="tns:CatalogStateReason_Type"/>
			<element maxOccurs="1" minOccurs="0" name="IntermarketFlag" type="boolean"/>
			<element maxOccurs="1" minOccurs="0" name="ExpDateNMVS" type="tns:Date_Type"/>
			<element maxOccurs="1" minOccurs="1" name="ReturnCode" type="tns:ReturnCode_Type"/>
		</sequence>
	</complexType>

	<complexType name="RequestAuthHeaderData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ClientLoginId" type="tns:ClientLoginId_Type">
				<annotation>
					<documentation>Unique LoginId of Member</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="UserId" type="tns:UserId_Type">
				<annotation>
					<documentation>Unique UserId of Member</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Password" type="tns:Password_Type"/>
			<element maxOccurs="1" minOccurs="0" name="SubUserId" type="tns:S255_Normalized_Type">
				<annotation>
					<documentation>Id of the Sub-User</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="authMethod" type="tns:S100_Normalized_Type"/>
	</complexType>

	<complexType name="RequestTransactionHeaderData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ClientTrxId" type="tns:ExternalTransactionID_Type">
				<annotation>
					<documentation>Transaction-Id of calling system</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Language" type="tns:IsoLanguageCode_Type">
			     <annotation>
			         <documentation>Language Code for Response</documentation>
			     </annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="Header_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Header" type="tns:RequestHeaderData_Type"/>
		</sequence>
	</complexType>

	<complexType name="RequestHeaderData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Auth" type="tns:RequestAuthHeaderData_Type"/>
			<element maxOccurs="1" minOccurs="1" name="UserSoftware" type="tns:UserSoftware_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Transaction" type="tns:RequestTransactionHeaderData_Type"/>
		</sequence>
	</complexType>

	<complexType name="MessageFrom_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ClientLoginId" type="tns:ClientLoginId_Type">
				<annotation>
					<documentation>Unique LoginId of Member</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="UserId" type="tns:UserId_Type">
				<annotation>
					<documentation>Unique UserId of Member</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="Message_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="From" type="tns:MessageFrom_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Content" type="anyType"/>
		</sequence>
	</complexType>


	<complexType name="ResponsePackItem_Type">
		<complexContent>
			<extension base="tns:ResponsePack_Type">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="ReturnCode" type="tns:ReturnCode_Type"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>



	<group name="O3ResponseResult">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Product" type="tns:ResponseProduct_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Packs">
				<complexType>
					<sequence>
						<element maxOccurs="100000" minOccurs="1" name="Pack" type="tns:ResponsePackItem_Type"/>
					</sequence>
				</complexType>
				<unique name="UniqueResponsePack">
					<selector xpath="tns:Pack"/>
					<field xpath="@tns:sn"/>
				</unique>
			</element>
		</sequence>
	</group>

	<complexType name="ResponseResultTransactionData_Type">
		<sequence>
			<choice maxOccurs="1" minOccurs="0">
				<element maxOccurs="1" minOccurs="1" name="Message" type="tns:Message_Type"/>
				<group maxOccurs="1" minOccurs="1" ref="tns:O3ResponseResult"/>
			</choice>
			<element maxOccurs="1" minOccurs="1" name="ReturnCode" type="tns:ReturnCode_Type"/>
		</sequence>
	</complexType>

	<complexType name="BulkIdTransactionFeedbackData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ClientTrxId" type="tns:ExternalTransactionID_Type">
				<annotation>
					<documentation>Transaction-Id of calling system</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="NMVSTrxId" type="tns:NMVSTransactionId_Type">
				<annotation>
					<documentation>Unique NMV-System TransactionID</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="BulkIdResultTransactionData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="BulkTransactionList" type="tns:BulkTransactionList_Type"/>		
			<element maxOccurs="1" minOccurs="0" name="MixedBulkTransactionList" type="tns:BulkTransactionList_Type"/>		
			<element maxOccurs="1" minOccurs="1" name="ReturnCode" type="tns:ReturnCode_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="BulkTransactionList_Type">
		<sequence>
			<element maxOccurs="100000" minOccurs="0" name="Transaction" type="tns:BulkIdTransactionFeedbackData_Type"/>
		</sequence>
	</complexType>


	<complexType name="O5FeedbackDataMixedBulk_Type">
		<sequence>
			<element maxOccurs="100000" minOccurs="0" name="TrxItem">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="1" name="Transaction" type="tns:ResponseHeaderTransactionData_Type"/>
						<group maxOccurs="1" minOccurs="1" ref="tns:O5ResponseBody"/>
					</sequence>
					<attribute name="reqType" type="tns:CatalogUseCase_Type" use="required"/>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="MixedBulkResponseResultTransactionData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="TrxList" type="tns:O5FeedbackDataMixedBulk_Type"/>
			<element maxOccurs="1" minOccurs="1" name="ReturnCode" type="tns:ReturnCode_Type"/>
		</sequence>
	</complexType>

	<complexType name="ProductData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ProductCode" type="tns:ProductIdentifier_Type"/>
			<element maxOccurs="1" minOccurs="0" name="Name" type="tns:S255_Normalized_Type"/>
			<element maxOccurs="1" minOccurs="0" name="NHRN" type="tns:NHRN_Type"/>
			<element maxOccurs="1" minOccurs="0" name="MahId" type="tns:S255_Normalized_Type"/>
			<element maxOccurs="1" minOccurs="0" name="MahName" type="tns:S255_Normalized_Type"/>
			<element name="Wholesalers">
				<complexType>
					<sequence>
						<element maxOccurs="100" minOccurs="0" name="Wholesaler" type="tns:S255_Normalized_Type"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="O6DownloadMasterdata_ProductList_Type">
		<sequence>
			<element maxOccurs="1000000" minOccurs="0" name="Product" type="tns:ProductData_Type"/>
		</sequence>
	</complexType>

	<group name="O6DownloadMasterdata">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ProductList" type="tns:O6DownloadMasterdata_ProductList_Type"/>
		</sequence>
	</group>

	<complexType name="DownloadMasterdataResponseTransactionData_Type">
		<sequence>
			<group maxOccurs="1" minOccurs="0" ref="tns:O6DownloadMasterdata"/>
			<element maxOccurs="1" minOccurs="1" name="ReturnCode" type="tns:ReturnCode_Type"/>
		</sequence>
	</complexType>

	<complexType name="RequestData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Product" type="tns:RequestProduct_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Pack" type="tns:RequestPack_Type"/>
			<element maxOccurs="1" minOccurs="0" name="Recept" type="tns:RequestRecept_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="ManualRequestData_Type">
        <sequence>
            <element name="Product">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="ProductCode" type="tns:ProductIdentifier_Type"/>
                    </sequence>
                </complexType>
            </element>
            <element maxOccurs="1" minOccurs="1" name="Pack" type="tns:RequestPack_Type"/>
			<element maxOccurs="1" minOccurs="0" name="Recept" type="tns:RequestRecept_Type"/>
        </sequence>
    </complexType>

	<complexType name="RequestBulkData_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Product" type="tns:RequestProduct_Type"/>
			<element name="Packs">
				<complexType>
					<sequence>
						<element maxOccurs="100000" minOccurs="1" name="Pack" type="tns:RequestPack_Type"/>
					</sequence>
				</complexType>
				<unique name="UniqueRequestPack">
					<selector xpath="tns:Pack"/>
					<field xpath="@tns:sn"/>
				</unique>
			</element>
		</sequence>
	</complexType>

	<complexType name="MixedBulkRequestTransaction_Type">
		<complexContent>
			<extension base="tns:RequestTransactionHeaderData_Type">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="RefClientTrxId" type="tns:ExternalTransactionID_Type"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RequestPack_Type">
		<attribute name="sn" type="tns:SN_Type" use="required"/>
	</complexType>

	<complexType name="ResponsePack_Type">
		<sequence>
			<element maxOccurs="20" minOccurs="0" name="Reason" type="tns:CatalogStateReason_Type"/>
		</sequence>
		<attribute name="sn" type="tns:SN_Type" use="required"/>

		<attribute name="state" type="tns:CatalogState_Type" use="required"/>
	</complexType>

	<complexType name="ProductIdentifier_Type">
		<annotation>
			<documentation>A unique product code and its codeing scheme</documentation>
		</annotation>
		<simpleContent>
			<extension base="tns:ProductCode_Type">
				<attribute name="scheme" type="tns:CatalogProductScheme_Type" use="required"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="RequestProduct_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ProductCode" type="tns:ProductIdentifier_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Batch" type="tns:BaseBatch_Type"/>
		</sequence>
	</complexType>

	<complexType name="ProductInfoRef_Type">
		<simpleContent>
			<extension base="string">
				<attribute name="date" type="tns:Date_Type"/>
				<attribute name="modified" type="boolean"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="ResponseProduct_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ProductCode" type="tns:ProductIdentifier_Type"/>
			<element maxOccurs="1" minOccurs="0" name="IntermarketFlag" type="boolean"/>
			<element maxOccurs="1" minOccurs="0" name="NHRN" type="tns:NHRN_Type"/>
			<element maxOccurs="1" minOccurs="0" name="ProductInfoRef" type="tns:ProductInfoRef_Type"/>
			<element maxOccurs="1" minOccurs="0" name="Batch" type="tns:ResponseBatch_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="BaseBatch_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Id" type="tns:BATCH_Type"/>
			<element maxOccurs="1" minOccurs="1" name="ExpDate" type="tns:EXP_Type"/>
		</sequence>
	</complexType>	

	<complexType name="ResponseBatch_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Id" type="tns:S50_Normalized_Type"/>
	        <element maxOccurs="1" minOccurs="0" name="ExpDate" type="tns:EXP_Type"/>
			<element maxOccurs="1" minOccurs="0" name="ExpDateNMVS" type="tns:Date_Type"/>
		</sequence>
	</complexType>

	<complexType name="UserSoftware_Type">
		<annotation>
			<documentation>Member/Stakeholder software id</documentation>
		</annotation>
		<attribute name="name" type="tns:S255_Normalized_Type" use="required"/>
		<attribute name="supplier" type="tns:S255_Normalized_Type" use="required"/>
		<attribute name="version" type="tns:S10_Normalized_Type" use="required"/>
	</complexType>

	<complexType name="ReturnCode_Type">
		<annotation>
			<documentation>Alphanumeric return code e.g. NMVS_OK_03 or NMVS_ERR_21
			</documentation>
		</annotation>
		<attribute name="code" type="tns:CatalogReturnCode_Type" use="required"/>
		<attribute name="desc" type="tns:ReturnCodeDescription_Type" use="optional"/>
	</complexType>
	
	<complexType name="Cert_Type">
        <simpleContent>
            <extension base="base64Binary">
                <attribute name="name" type="tns:S100_Normalized_Type"/>
                <attribute name="passphrase" type="tns:Password_Type"/>
            </extension>
        </simpleContent>    
    </complexType>
    
    <complexType name="PingRequest">
        <sequence>
            <element name="Input" type="tns:S100_Normalized_Type"/>
        </sequence>
    </complexType>
    
   <complexType name="PingResponse">
        <sequence>
            <element name="Output" type="tns:S100_Normalized_Type"/>
        </sequence>
    </complexType>
    
    <complexType name="Notification_Type">
		<annotation>
			<documentation>Alphanumeric notification code e.g. NMVS_NOTIFY_AU_01
			</documentation>
		</annotation>
		<attribute name="notificationCode" type="tns:CatalogNotificationCode_Type" use="required"/>
		<attribute name="notificationDesc" type="tns:NotificationDescription_Type" use="optional"/>
	</complexType>

	<simpleType name="ReceptAGB_Type">
		<annotation>
			<documentation>
				De AGB code van de apotheek.
				Formaat PPVVVVVV (PP = praktijksoort, VVVVVV = volgnummer).
			</documentation>
		</annotation>
		<restriction base="token">
			<pattern value="([0-9]{8})"/>
		</restriction>
	</simpleType>

	<simpleType name="ReceptPeriode_Type">
		<annotation>
			<documentation>
				Periode waarvoor de recept barcode geldig is.
				Formaat YYMM.
			</documentation>
		</annotation>
		<restriction base="token">
			<pattern value="([0-9]{2})((0[1-9])|(1[0-2]))"/>
		</restriction>
	</simpleType>

    <simpleType name="ReceptBarcode_Type">
		<annotation>
			<documentation>
                De barcode die op het receptetiket is afgedrukt.
            </documentation>
		</annotation>
		<restriction base="normalizedString">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<complexType name="RequestRecept_Type">
        <sequence>
            <element name="AGB" type="tns:ReceptAGB_Type"/>
            <element minOccurs="0" name="Periode" type="tns:ReceptPeriode_Type"/>
            <element name="Barcode" type="tns:ReceptBarcode_Type"/>
            <element minOccurs="0" name="DirectUitvoeren" type="boolean"/>
        </sequence>
	</complexType>
</schema>