src/test/munit/metadata/v2/O3_ResultBulk.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v2.0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v2.0">
	<include schemaLocation="NMVS_Composite_Types.xsd"/>
	<element name="O3_ResultBulk" type="tns:O3_ResultBulk_Type"/>

	<complexType name="O3_ResultBulk_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Header" type="tns:HeaderResultResponse_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Body" type="tns:ResponseResultTransactionData_Type"/>
		</sequence>
	</complexType>
</schema>