src/test/munit/metadata/v2/O4_ResultBulkId.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v2.0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v2.0">
	<include schemaLocation="NMVS_Composite_Types.xsd"/>
	<element name="O4ResultBulkId" type="tns:O4_ResultBulkId_Type"/>

	<complexType name="O4_ResultBulkId_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Header" type="tns:HeaderResponse_Type"/>
			<element maxOccurs="1" minOccurs="1" name="Body" type="tns:BulkIdResultTransactionData_Type"/>
		</sequence>
	</complexType>
</schema>