src/test/munit/metadata/v2/WS_BULK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    name="BulkServices"
    targetNamespace="urn:services.nmvs.eu:v2.0"
    xmlns:ns="urn:services.nmvs.eu:v2.0"    
    xmlns:env="urn:wsdltypes.nmvs.eu:v2.0" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" >
        
	<wsdl:types>
		<xs:schema xmlns:types="urn:types.nmvs.eu:v2.0" targetNamespace="urn:wsdltypes.nmvs.eu:v2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="urn:types.nmvs.eu:v2.0" schemaLocation="intermediate.xsd" />
			<xs:element name="BulkPingRequest">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:PingRequest" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BulkPingResponse">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:PingResponse" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G115Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G115Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G125Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G125Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G127Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I5_UndoBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G127Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G135Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G135Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G137Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I5_UndoBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G137Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G145Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G145Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G147Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I5_UndoBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G147Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G155Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G155Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G157Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I5_UndoBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G157Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G165Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G165Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G167Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I5_UndoBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G167Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G175Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G175Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G177Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I5_UndoBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G177Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G185Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I4_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G185Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G187Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I5_UndoBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G187Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O2_Bulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G188Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I6_Result_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G188Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O3_ResultBulk_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G199Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I7_Request_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G199Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O4_ResultBulkId_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
    
	<wsdl:message name="PingRequestMessage">
		<wsdl:part name="messageParameters" element="env:BulkPingRequest" />
	</wsdl:message>
	<wsdl:message name="PingResponseMessage">
		<wsdl:part name="messageParameters" element="env:BulkPingResponse" />
	</wsdl:message>
	<wsdl:message name="G115RequestMessage">
		<wsdl:part name="messageParameters" element="env:G115Request" />
	</wsdl:message>
	<wsdl:message name="G115ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G115Response" />
	</wsdl:message>
	<wsdl:message name="G125RequestMessage">
		<wsdl:part name="messageParameters" element="env:G125Request" />
	</wsdl:message>
	<wsdl:message name="G125ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G125Response" />
	</wsdl:message>
	<wsdl:message name="G127RequestMessage">
		<wsdl:part name="messageParameters" element="env:G127Request" />
	</wsdl:message>
	<wsdl:message name="G127ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G127Response" />
	</wsdl:message>
	<wsdl:message name="G135RequestMessage">
		<wsdl:part name="messageParameters" element="env:G135Request" />
	</wsdl:message>
	<wsdl:message name="G135ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G135Response" />
	</wsdl:message>
	<wsdl:message name="G137RequestMessage">
		<wsdl:part name="messageParameters" element="env:G137Request" />
	</wsdl:message>
	<wsdl:message name="G137ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G137Response" />
	</wsdl:message>
	<wsdl:message name="G145RequestMessage">
		<wsdl:part name="messageParameters" element="env:G145Request" />
	</wsdl:message>
	<wsdl:message name="G145ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G145Response" />
	</wsdl:message>
	<wsdl:message name="G147RequestMessage">
		<wsdl:part name="messageParameters" element="env:G147Request" />
	</wsdl:message>
	<wsdl:message name="G147ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G147Response" />
	</wsdl:message>
	<wsdl:message name="G155RequestMessage">
		<wsdl:part name="messageParameters" element="env:G155Request" />
	</wsdl:message>
	<wsdl:message name="G155ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G155Response" />
	</wsdl:message>
	<wsdl:message name="G157RequestMessage">
		<wsdl:part name="messageParameters" element="env:G157Request" />
	</wsdl:message>
	<wsdl:message name="G157ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G157Response" />
	</wsdl:message>
	<wsdl:message name="G165RequestMessage">
		<wsdl:part name="messageParameters" element="env:G165Request" />
	</wsdl:message>
	<wsdl:message name="G165ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G165Response" />
	</wsdl:message>
	<wsdl:message name="G167RequestMessage">
		<wsdl:part name="messageParameters" element="env:G167Request" />
	</wsdl:message>
	<wsdl:message name="G167ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G167Response" />
	</wsdl:message>
	<wsdl:message name="G175RequestMessage">
		<wsdl:part name="messageParameters" element="env:G175Request" />
	</wsdl:message>
	<wsdl:message name="G175ResponseMessage">
		<wsdl:part name="parameters" element="env:G175Response" />
	</wsdl:message>
	<wsdl:message name="G177RequestMessage">
		<wsdl:part name="messageParameters" element="env:G177Request" />
	</wsdl:message>
	<wsdl:message name="G177ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G177Response" />
	</wsdl:message>
	<wsdl:message name="G185RequestMessage">
		<wsdl:part name="messageParameters" element="env:G185Request" />
	</wsdl:message>
	<wsdl:message name="G185ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G185Response" />
	</wsdl:message>
	<wsdl:message name="G187RequestMessage">
		<wsdl:part name="messageParameters" element="env:G187Request" />
	</wsdl:message>
	<wsdl:message name="G187ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G187Response" />
	</wsdl:message>
	<wsdl:message name="G188RequestMessage">
		<wsdl:part name="messageParameters" element="env:G188Request" />
	</wsdl:message>
	<wsdl:message name="G188ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G188Response" />
	</wsdl:message>
	<wsdl:message name="G199RequestMessage">
		<wsdl:part name="messageParameters" element="env:G199Request" />
	</wsdl:message>
	<wsdl:message name="G199ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G199Response" />
	</wsdl:message>
    
    <wsdl:portType name="IBulkServices">
        <wsdl:operation name="PingBulk">
            <wsdl:input message="ns:PingRequestMessage" wsaw:Action="ns:PingRequestMessage" />
            <wsdl:output message="ns:PingResponseMessage" wsaw:Action="ns:PingResponseMessage" />
        </wsdl:operation>
		<wsdl:operation name="G115BulkVerify">
			<wsdl:input message="ns:G115RequestMessage" wsaw:Action="ns:G115RequestMessage" />
			<wsdl:output message="ns:G115ResponseMessage" wsaw:Action="ns:G115ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G125BulkDispense">
			<wsdl:input message="ns:G125RequestMessage" wsaw:Action="ns:G125RequestMessage" />
			<wsdl:output message="ns:G125ResponseMessage" wsaw:Action="ns:G125ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G127BulkUndoDispense">
			<wsdl:input message="ns:G127RequestMessage" wsaw:Action="ns:G127RequestMessage" />
			<wsdl:output message="ns:G127ResponseMessage" wsaw:Action="ns:G127ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G135BulkDestroy">
			<wsdl:input message="ns:G135RequestMessage" wsaw:Action="ns:G135RequestMessage" />
			<wsdl:output message="ns:G135ResponseMessage" wsaw:Action="ns:G135ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G137BulkUndoDestroy">
			<wsdl:input message="ns:G137RequestMessage" wsaw:Action="ns:G137RequestMessage" />
			<wsdl:output message="ns:G137ResponseMessage" wsaw:Action="ns:G137ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G145BulkExport">
			<wsdl:input message="ns:G145RequestMessage" wsaw:Action="ns:G145RequestMessage" />
			<wsdl:output message="ns:G145ResponseMessage" wsaw:Action="ns:G145ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G147BulkUndoExport">
			<wsdl:input message="ns:G147RequestMessage" wsaw:Action="ns:G147RequestMessage" />
			<wsdl:output message="ns:G147ResponseMessage" wsaw:Action="ns:G147ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G155BulkSample">
			<wsdl:input message="ns:G155RequestMessage" wsaw:Action="ns:G155RequestMessage" />
			<wsdl:output message="ns:G155ResponseMessage" wsaw:Action="ns:G155ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G157BulkUndoSample">
			<wsdl:input message="ns:G157RequestMessage" wsaw:Action="ns:G157RequestMessage" />
			<wsdl:output message="ns:G157ResponseMessage" wsaw:Action="ns:G157ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G165BulkFreeSample">
			<wsdl:input message="ns:G165RequestMessage" wsaw:Action="ns:G165RequestMessage" />
			<wsdl:output message="ns:G165ResponseMessage" wsaw:Action="ns:G165ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G167BulkUndoFreeSample">
			<wsdl:input message="ns:G167RequestMessage" wsaw:Action="ns:G167RequestMessage" />
			<wsdl:output message="ns:G167ResponseMessage" wsaw:Action="ns:G167ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G175BulkLocks">
			<wsdl:input message="ns:G175RequestMessage" wsaw:Action="ns:G175RequestMessage" />
			<wsdl:output message="ns:G175ResponseMessage" wsaw:Action="ns:G175ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G177BulkUndoLock">
			<wsdl:input message="ns:G177RequestMessage" wsaw:Action="ns:G177RequestMessage" />
			<wsdl:output message="ns:G177ResponseMessage" wsaw:Action="ns:G177ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G185BulkStolen">
			<wsdl:input message="ns:G185RequestMessage" wsaw:Action="ns:G185RequestMessage" />
			<wsdl:output message="ns:G185ResponseMessage" wsaw:Action="ns:G185ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G187BulkUndoStolen">
			<wsdl:input message="ns:G187RequestMessage" wsaw:Action="ns:G187RequestMessage" />
			<wsdl:output message="ns:G187ResponseMessage" wsaw:Action="ns:G187ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G188RequestBulkPackResult">
			<wsdl:input message="ns:G188RequestMessage" wsaw:Action="ns:G188RequestMessage" />
			<wsdl:output message="ns:G188ResponseMessage" wsaw:Action="ns:G188ResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G199RequestPickupIdsForBulkTransactionResult">
			<wsdl:input message="ns:G199RequestMessage" wsaw:Action="ns:G199RequestMessage" />
			<wsdl:output message="ns:G199ResponseMessage" wsaw:Action="ns:G199ResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WSHttpBinding_IBulkServices" type="ns:IBulkServices">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PingBulk">
			<soap12:operation soapAction="urn:PingBulk" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G115BulkVerify">
			<soap12:operation soapAction="urn:G115BulkVerify" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G125BulkDispense">
			<soap12:operation soapAction="urn:G125_Bulk_dispense" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G127BulkUndoDispense">
			<soap12:operation soapAction="urn:G127BulkUndoDispense" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G135BulkDestroy">
			<soap12:operation soapAction="urn:G135BulkDestroy" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G137BulkUndoDestroy">
			<soap12:operation soapAction="urn:G137BulkUndoDestroy" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G145BulkExport">
			<soap12:operation soapAction="urn:G145BulkExport" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G147BulkUndoExport">
			<soap12:operation soapAction="urn:G147BulkUndoExport" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G155BulkSample">
			<soap12:operation soapAction="urn:G155BulkSample" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G157BulkUndoSample">
			<soap12:operation soapAction="urn:G157BulkUndoSample" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G165BulkFreeSample">
			<soap12:operation soapAction="urn:G165BulkFreeSample" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G167BulkUndoFreeSample">
			<soap12:operation soapAction="urn:G167BulkUndoFreeSample" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G175BulkLocks">
			<soap12:operation soapAction="urn:G175BulkLocks" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G177BulkUndoLock">
			<soap12:operation soapAction="urn:G177BulkUndoLock" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G185BulkStolen">
			<soap12:operation soapAction="urn:G185BulkStolen" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G187BulkUndoStolen">
			<soap12:operation soapAction="urn:G187BulkUndoStolen" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G188RequestBulkPackResult">
			<soap12:operation soapAction="urn:G188RequestBulkPackResult" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G199RequestPickupIdsForBulkTransactionResult">
			<soap12:operation soapAction="urn:G199RequestPickupIdsForBulkTransactionResult" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BulkServices">
		<wsdl:port name="Port_BulkServices" binding="ns:WSHttpBinding_IBulkServices">
			<soap12:address location="http://localhost:8080/WS_BULK_TRANSACTIONS_V1/BulkServiceV10" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
